[Service]
ExecStart=python3 reader.py
WorkingDirectory=/home/pi/qr-lector-and-gcode-sender
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
