[Service]
ExecStart=/bin/bash main.sh
WorkingDirectory=/home/pi/qr-lector-and-gcode-sender
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
